<p-dialog [(visible)]="display"
    (onHide)="fecharModal()"
    [modal]="true"
    [style]="{width: '50vw'}"
    [draggable]="false"
    [resizable]="false"
    [breakpoints]="{'960px': '75vw'}"
    header="Editar Usuario">
    <form [formGroup]="formulario">
        <div class="grid mt-3 text-color">
            <div class="col-12 field">
                <span class="p-float-label">
                    <input type="text"
                        pInputText
                        class="p-inputtext"
                        formControlName="username"
                        placeholder="Username">
                    <label for="">Username</label>
                </span>
            </div>
            <div class="col-12 field">
                <span class="p-float-label">
                    <input type="text"
                        pInputText
                        class="p-inputtext"
                        formControlName="nome"
                        placeholder="Nome do Usuario">
                    <label for="">Nome do Usuario</label>
                </span>
            </div>
            <div class="col-12 field">
                <span class="p-float-label">
                    <input type="password"
                        pInputText
                        class="p-inputtext"
                        formControlName="senha"
                        placeholder="Senha">
                    <label for="">Senha</label>
                </span>
            </div>
        </div>
        <div class="grid mt-3 flex justify-content-center">
            <div class="col-6">
                <button pButton
                    [style]="{'width':'100%'}"
                    pRipple
                    type="button"
                    label="Editar Usuario"
                    class="p-button-raised p-button-success p-button-sm"
                    (click)="salvarUsuario()">
                </button>
            </div>
        </div>
    </form>
</p-dialog>