<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <img class="mb-4" src="/assets/imagens/logo_home_2.png" alt="" width="120" height="120">
      <h1 class="h3 mb-3 fw-normal text-light">Login</h1>

      <div class="form-floating mb-2">
        <input type="text" formControlName="username" class="form-control" id="floatingInput" placeholder="Usuário">
        <label for="floatingInput">Usuário</label>
      </div>
      <div class="form-floating mb-5">
        <input type="password" formControlName="senha" class="form-control" id="floatingPassword" placeholder="Senha">
        <label for="floatingPassword">Senha</label>
      </div>
      <div class="button mb-3">
        <button class="w-100 btn btn-md btn-outline-secondary" type="button" (click)="clickRegistrar()">Fazer
          cadastro</button>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!form.valid">Login</button>
      <p class="mt-5 mb-3 text-muted">ChatWeb</p>
    </form>
  </main>
</body>