<div class="formgrid grid mensagem-box" style="height: 100%;">
  <div class="col-12 text-center" style="height: 100%;">
    <p-card>
      <div class="col-12 formgrid grid flex justify-content-center">
        <div class="col-12 field mt-8">
          <img class="mt-5" style="height: 35vh; height: 35vh;" src="/assets/imagens/logo_home_2.png" alt="">
        </div>
        <div class="col-12 field flex justify-content-center mt-8">
          <p style="width: 90vh; color: rgb(255, 255, 255);" class="text-center">Um sistema simples de Web
            Chat
            desenvolvido
            para a
            disciplina de
            Banco
            de Dados I pertencente a grade curricular do curso de Bacharelato em Engenharia de Computação,
            oferecido pela instituição de ensino CEFET - MG
          </p>
        </div>
      </div>
    </p-card>
  </div>
</div>